<div class="tape" aria-hidden="true">
  <span class="candle up" style="--h:42%"></span>
  <span class="candle up" style="--h:55%"></span>
  <span class="candle down" style="--h:38%"></span>
  <span class="candle up" style="--h:70%"></span>
  <span class="candle up" style="--h:48%"></span>
  <span class="candle down" style="--h:62%"></span>
  <span class="candle up" style="--h:80%"></span>
  <span class="candle down" style="--h:33%"></span>
  <span class="candle up" style="--h:58%"></span>
  <span class="candle up" style="--h:91%"></span>
  <span class="candle down" style="--h:44%"></span>
  <span class="candle up" style="--h:66%"></span>
  <span class="candle up" style="--h:52%"></span>
  <span class="candle down" style="--h:29%"></span>
  <span class="candle up" style="--h:74%"></span>
  <span class="candle up" style="--h:88%"></span>
</div>
